/* #root,
#root > div {
  width: 100%;
  height: 100%;
  background-color: #4d92fb;

} */
/* html, body {
  overflow: hidden;
} */
.loginButton {
  text-align: center;
  font: "Roboto Condensed";
  font-size: 6vm;
  color: white;
}

.Title {
  display: block;
  text-align: center;
  font-family: "Allerta Stencil";
  font-style: normal;
  font-size: 17vw;
  color: #fafe43;
}

.languagePage {
  /*height: 100vh;*/
  height: 100%;
  width: 100%;
  text-align: center;
  background-color: #4d92fb;
  minHeight: 100vh;
  minWidth: 100vw;
}

body {
    min-height: 100vh;
}


/* footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px; /* Height of the footer
  background: #4d92fb;
} */
.container {
  height: 100%;
  width: 100%;
  background-color: #4d92fb;
  minHeight: 100vh;
  minWidth: 100vw;
  /* overflow: hidden; */
}




#map {
  height: 100vh;
}